/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   BASE STYLES: OPINIONATED DEFAULTS
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined: https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   BROWSER UPGRADE PROMPT
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   AUTHOR'S CUSTOM STYLES
   ========================================================================== */

/*makes all font: 1st Nunito Sans, Regular (if available), 2nd Verdana (if available) */
* {
    font-family: 'Nunito Sans', Verdana, sans-serif;
    color: #1c5f69;
}

/*makes all font Varela*/
/** {*/
    /*font-family: 'Varela', sans-serif;*/
/*}*/


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

h2 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
}

h3 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
}

h4 {
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 800;
    color: #a0a09f;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
}

hr {
    height: 50px;
    background-color: #1c5f69;
    margin: 0;
    /*border: 0;*/
    /*background-image: linear-gradient(to right, rgba(28, 95, 105, 0), rgba(28, 95, 105, 0.75), rgba(28, 95, 105, 0));*/
}



/*========== HEADER ==========*/
#pageheader {
    height: 100px;
    position: fixed;
    /*specifies the distance between the header's right edge
    and the right edge of its containing block (ie, the body)*/
    right: 0;
    /*specifies the distance between the header's left edge
    and the left edge of its containing block (ie, the body)*/
    left: 0;
    background-color: #1c5f69;
}

/*header > nav*/
#headercontainer {
    margin: 0px 100px;
    display: flex;
    justify-content: space-around;
}

/*header > nav > span*/
#headername {
    font-size: 13px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 100px;
}

/*header > nav > ahref*/
#headercontainer a{
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-size: 13px;
    font-weight: 300;
    color: #efefef;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 100px;
}

/*header > nav > ahref - active*/
#headercontainer a.active {
    font-size: 13px;
    font-weight: 800;
    color: #ffffff;
}

/*header > nav > ahref - hover*/
#headercontainer a:hover {
    font-size: 13px;
    font-weight: 800;
    color: #ffffff;
    transition-duration: 0.3s;
}

.push {
    margin-left: auto;
}


/*========== FOOTER ==========*/
footer {
    height: 100px;
    background-color: #1c5f69;
    text-align-all: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    padding: 0px 15px;
}


/*========== BODY ==========*/
.pagebody {
    min-height: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}


/*========== HOME STRIP 1: AU PIC ==========*/
#homeaupic {
    max-width: 100%;
    height: 700px;
    background-color: #1c5f69;
    background-image: url(../img/au_01_home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/*White container box on Home page*/
#containerboxhome {
    width: 740px;
    height: 240px;
    margin-top: 100px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 4;
}

#jobtitle {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
}

#availableforhire {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    line-height: 4;
}

.highlight {
    font-size: 20px;
    font-weight: 400;
    color: #dec328;
}


/*========== HOME STRIP 2: HELLO & WELCOME ==========*/
#helloandwelcome {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#helloandwelcometext {
    margin-right: 150px;
    margin-bottom: 25px;
    margin-left: 150px;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5;
}

#moreaboutmebutton {
    width: 200px;
    height: 40px;
    margin-bottom: 50px;
    background-color: #efefef;
    border: none;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#moreaboutmebutton:hover {
    background-color: #1c5f69;
    color: #ffffff;
    transition-duration: 0.5s;
}

/*========== HOME STRIP 3: MY APPS ==========*/
#myapps {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apphoverboxes {
    width: 265px;
    height: 200px;
    margin-bottom: 50px;
}


/*========== HOME STRIP 4: TESTIMONIALS ==========*/
#testimonials {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonialgroup {
    margin-right: 150px;
    margin-bottom: 50px;
    margin-left: 150px;
}

.testimonial {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;
}

.testimonialauthor {
    font-size: 13px;
    font-weight: 400;
    color: #a0a09f;
    text-align: center;
    line-height: 1.5;
}


/*========== HOME STRIP 5: WHAT I'M LOOKING FOR ==========*/
#whatiwant {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#companyqualities {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 1.5;
    list-style-type: none;
}

#finalcomment {
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    line-height: 2;
}


/*White container box on Fun Facts, Portfolio, Resume & Contact pages*/
.containerbox {
    width: 600px;
    height: 200px;
    margin-top: 100px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Quote on Fun Facts, Portfolio, Resume & Contact pages*/
.quote {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    line-height: 2;
}

/*========== ABOUT STRIP 1: AU PIC ==========*/
#aboutaupic {
    max-width: 100%;
    height: 700px;
    background-color: #1c5f69;
    background-image: url(../img/au_02_about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
 }

/*========== ABOUT STRIP 2: MY CLOSE FRIENDS DESCRIBE ME AS ==========*/
#myclosefriends {
    max-width: 100%;
}

#myclosefriendsgroup {
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#myclosefriendsgroup > img {
    width: 140px;
    height: 150px;
    margin-right: 25px;
}

#myclosefriendslist {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 1.5;
    list-style-type: none;
}

/*========== ABOUT STRIP 3: I'M CURRENTLY WATCHING ==========*/
#currentlywatching {
    max-width: 100%;
}

#currentlywatching > div {
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

/*========== ABOUT STRIP 4: THE BEST PIECE OF ADVICE... ==========*/
#bestadvice {
    max-width: 100%;
}

#bestadvice > div {
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

/*========== ABOUT STRIP 5: MY DREAM JOB ==========*/
#dreamjob {
    max-width: 100%;
}

#dreamjob > div {
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

/*========== ABOUT STRIP 6: I CAN'T LIVE WITHOUT ==========*/
#cantlivewithout {
    max-width: 100%;
}

#cantlivewithoutgroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#cantlivewithoutgroup > ul {
    margin-right: 25px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 1.5;
    list-style-type: none;
}

.flexslider {
    width: 500px;
    height: 400px;
    margin-bottom: 50px;
    z-index: -1;
}

.slides img {
    width: 500px;
    height: 400px;
}


/*========== ABOUT STRIP 7: A FEW OTHER THINGS... ==========*/
#afewotherthings {
    max-width: 100%;
}

#afewotherthings > ul {
    margin-bottom: 50px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 1.5;
    list-style-type: none;
}


/*========== ABOUT STRIP 8: IF YOU REALLY WANT TO KNOW... ==========*/
#enfj {
    max-width: 100%;
}

#enfj > div {
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

#enfjbutton {
    border: none;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

#enfjbutton:hover {
    background-color: #1c5f69;
    color: #ffffff;
    transition-duration: 0.5s;
}


/*========== PORTFOLIO STRIP 1: AU PIC ==========*/
#portfolioaupic {
    max-width: 100%;
    height: 700px;
    background-color: #1c5f69;
    background-image: url(../img/au_03_portfolio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/*App description for Fitness Zone, Pingora Intranet
and Travel Manager*/
.appdescription {
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 1px;
    line-height: 1.5;
}

/*Tools used for Fitness Zone, Pingora Intranet
and Travel Manager*/
.toolsused {
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 1px;
    line-height: 1.5;
}

/*Github project link for Fitness Zone, Pingora
Intranet and Travel Manager*/
.projectgithublink {
    margin-bottom: 50px;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 1px;
    line-height: 1.5;
}

/*========== PORTFOLIO STRIP 2: FITNESS ZONE ==========*/
#fitnesszone {
    max-width: 100%;
}

#fitnesszonegroup {
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#fitnesszoneimages > img {
    width: 250px;
    height: 450px;
    margin-right: 25px;
}

#keyachievements {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 1px;
    line-height: 1.5;
}

/*========== PORTFOLIO STRIP 3: PINGORA INTRANET ==========*/
#pingoraintranet {
    max-width: 100%;
}

#pingoraintranetgroup {
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pingoraintranetimages > img {
    width: 450px;
    height: 560px;
    margin-right: 25px;
}

/*========== PORTFOLIO STRIP 4: TRAVEL MANAGER ==========*/
#travelmanager {
    max-width: 100%;
}

#travelmanagergroup {
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#travelmanagerimages > img {
    width: 450px;
    height: 300px;
    margin-right: 25px;
}


/*========== RESUME STRIP 1: AU PIC ==========*/
#resumeaupic {
    max-width: 100%;
    height: 700px;
    background-color: #1c5f69;
    background-image: url(../img/au_04_resume.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


/*========== RESUME STRIP 2: TECHNICAL SKILLS ==========*/
#technicalskills {

}

/*========== RESUME STRIP 3: RELEVANT COURSES ==========*/
#relevantcourses {

}

/*========== RESUME STRIP 4: EDUCATION ==========*/
#education {

}

/*========== RESUME STRIP 5: WORK EXPERIENCE ==========*/
#workexperience {

}


/*========== CONTACT STRIP 1: AU PIC ==========*/
#contactaupic {
    max-width: 100%;
    height: 700px;
    background-color: #1c5f69;
    background-image: url(../img/au_05_contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


/*========== CONTACT STRIP 2: I'M DEDICATED TO MAKE A DIFFERENCE... ==========*/
#contacttext {

}

#contactform {

}








/* ==========================================================================
   HELPER CLASSES
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the `contenteditable` attribute is included anywhere
 *    else in the document. Otherwise it causes space to appear at the top and bottom of elements that receive the
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using `:before` to contain the top-margins of
 *    child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE: MEDIA QUERIES FOR RESPONSIVE DESIGN.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   PRINT STYLES.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
